registry=https://pkgs.dev.azure.com/SiigoDevOps/_packaging/NgSiigoControls/npm/registry/
always-auth=true
; begin auth token 
//pkgs.dev.azure.com/SiigoDevOps/_packaging/NgSiigoControls/npm/registry/:username=SiigoDevOps 
//pkgs.dev.azure.com/SiigoDevOps/_packaging/NgSiigoControls/npm/registry/:_password=NW9hbHR2Y2lvNDM0Z3c0Nmo0bHlla3FybnBnZXBncW9wZjJtNGU1dnZlaWRseGJjeGdnYQ==
//pkgs.dev.azure.com/SiigoDevOps/_packaging/NgSiigoControls/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/SiigoDevOps/_packaging/NgSiigoControls/npm/:username=SiigoDevOps 
//pkgs.dev.azure.com/SiigoDevOps/_packaging/NgSiigoControls/npm/:_password=NW9hbHR2Y2lvNDM0Z3c0Nmo0bHlla3FybnBnZXBncW9wZjJtNGU1dnZlaWRseGJjeGdnYQ==
//pkgs.dev.azure.com/SiigoDevOps/_packaging/NgSiigoControls/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

registry=https://pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/SiigoControls/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/SiigoControls/npm/registry/:username=SiigoDevOps
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/SiigoControls/npm/registry/:_password=NW9hbHR2Y2lvNDM0Z3c0Nmo0bHlla3FybnBnZXBncW9wZjJtNGU1dnZlaWRseGJjeGdnYQ==
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/SiigoControls/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/SiigoControls/npm/:username=SiigoDevOps
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/SiigoControls/npm/:_password=NW9hbHR2Y2lvNDM0Z3c0Nmo0bHlla3FybnBnZXBncW9wZjJtNGU1dnZlaWRseGJjeGdnYQ==
//pkgs.dev.azure.com/SiigoDevOps/Siigo/_packaging/SiigoControls/npm/:email=npm requires email to be set but doesn't use the value
; end auth token